@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles to ensure fonts are applied */
@layer base {
  body {
    font-family: 'Manrope', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Funnel Display', sans-serif;
  }
}
