@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Funnel Display';
  src: url('/fonts/FunnelDisplay-Bold.woff2') format('woff2'),
       url('/fonts/FunnelDisplay-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
