flask
flask-sqlalchemy
flask-migrate
flask-login
flask-cors
flask-socketio
python-socketio
eventlet
flask-dance #for GitHub, google OAuth
python-dotenv
psycopg2-binary
werkzeug
apscheduler
gunicorn
openai
tiktoken
resend
authlib
requests
cloudinary
certifi
